/*FONTS*/
@font-face {
    font-family: "Basis Grotesque-Regular";
    src: url("../../Resources/Basis Grotesque/basis-grotesque-regular.ttf"), url("../../Resources/Basis Grotesque/basis-grotesque-bold.woff2")
}
html {
    scroll-behavior: smooth;
}

/*COLOURS*/
:root {
    --midnight-blue: #192f54;
    --spicy-pink: #df1660;
    --alice-blue: #f2f7fe;
    --plain-blue: #315DA5;
    --white-smoke: #e9ecef;
}

/*MAIN CONTENT*/
body {
    height: 100vh;
    width: auto;
    margin: 0;
    background-color: var(--alice-blue);
    font-family: "Basis Grotesque";
    display: flex;
}

main {
    background-color: var(--alice-blue) ;
    color: var(--midnight-blue);
    margin-left: 260px;
    padding-right: 50px;
}

h1 {
    font-size: 50px;
    color: var(--midnight-blue);
}

h2 {
    font-size: 40px;
    color: var(--midnight-blue);
}

h3 {
    font-size: 30px;
    color: var(--midnight-blue);
    margin-left: 25px;
}

section {
    font-size: 18px;
    display: block;
    height: auto; 
    width: auto;  
    border-bottom: 2px solid var(--midnight-blue);
    padding-top: 10px;
    padding-bottom: 100px;
    margin-left: 30px;
}

section h1 {
    margin-top: 10px;
    margin-bottom: 20px;


}
section p {
    line-height: 1.5;
    letter-spacing: 0.1em;
}

.section-description {
    width: 75%;
}

 /* SECTION 1 LOGOS */

.slack-logo {
    width: 20px;
}

/* SIDEBAR */

.sidebar {
    position: fixed;
    width: auto;
    background-color: var(--midnight-blue);
    top: 0;
    left: 0;
    bottom: 0;
    padding-top: 50px;
    flex: 1 0 10%;
}

.sidebar a {
    display: block;
    padding: 25px 30px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    letter-spacing: 0.1em;
    cursor: pointer;
    transition: 0.4s;

}

.sidebar a:hover {
    color: var(--spicy-pink);
    margin-left: 5px;

}

.sidebar-bottom {
    position: absolute;
    bottom: 10px;


    
}

#sidebar-logo {
    width: 180px;
    padding-bottom: 20px;
    padding-left: 15px;
    margin-top: 0;
}

.sidebar p {
    color: white;
    letter-spacing: 0.1em;
    bottom: 0;
    left: 0;
    padding: 75px 20px;
    padding-bottom: 20px;
    font-size: 14px;


}

/* DESIGN ELEMENTS */

#diamond-red {
    display: inline-flex;
    top: 0;
    right: 0;
    bottom: 0;
    width: 70px;
    height: 912px;
    object-fit: cover;
    object-position: 0% 38%;
    
}

#blue-circle {
    display: inline-flex;
    position: relative;
    width: 70px;
    height: 912px;
    object-fit: cover;
    overflow: visible;
    
}

.right-design {
    display: inline-flex;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: 70px;
    flex-wrap: wrap;
}
/* TABLES */

table {
    width: 100%;
    display: inline-block;
    border-collapse: collapse;
    padding-right: 20px;
    
}

th {
    height: 80px;
    margin-top: 50px;
    background-color: var(--white-smoke);
    padding: 20px;
    border: solid 1px var(--midnight-blue);
}

.attribute-column {
    width: 300px;
    font-size: 25px;
    font-weight: 500;
}

.attribute-description {
    font-size: 20px;
    font-weight: 400;

   
}



/* COLOR SECTION */
.color-container {
    
    min-width: none;
    width: auto;
    max-width:1500px;
    height: auto;
    background-color: rgba(228, 228, 228, 0.6);
    border-radius: 2px;
    display: inline-block;
    justify-content: space-evenly ;
}

.color-container-inner {
    margin: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 2px;
    width: auto;
    height: auto;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px;
    justify-content: space-between;
}

.color-block {
    width: 45%;
    height: 80px;
    display: block;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 15px;
    margin: 10px 10px;
}

.color-block-name {
    font-size: 18px;
    width: 50%;
}

.color-block-codes {
    text-align: right;
}
#deep-sea {
    color: #fff;
    background-color: var(--midnight-blue);
    
}

#plain-blue {
    color: #fff;
    background-color: #325DA5 

}

#spicy-pink {
    color: #fff;
    background-color: var(--spicy-pink);
}

#cloudy-morning {
    color: black;
    background-color: #C1D0EA;
}

#alice-blue {
    color: black;
    background-color: #F2F7FD    ;
}

#white-smoke {
    color: black;
    background-color: var(--white-smoke)
}