body {
    overflow: hidden;
    height: 100vh;
    margin: 0;

}

main {
    margin-left: 260px;
    padding-top: 35px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
    color: #192f54;
}

section {
    font-size: 18px;
    
}

section p {
    margin-right: 150px;
    line-height: 1.2;
}

.slack-logo {
    width: 20px;
}

    
/* SIDEBAR */

.sidebar {
    position: fixed;
    width: 230px;
    background-color: #192f54;
    top: 0;
    left: 0;
    bottom: 0;
    padding-top: 50px;
    flex: 1 0 10%;
}

.sidebar a {
    display: block;
    padding: 25px 30px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    letter-spacing: 0.1em;
    cursor: pointer;
}

.sidebar a:hover {
    color: #C1D0EA;
    margin-left: 10px;
    transition: 0.4s;

}

#sidebar-logo {
    width: 180px;
    padding-bottom: 20px;
    padding-left: 15px;
    margin-top: 0;
}

.sidebar p {
    color: white;
    letter-spacing: 0.1em;
    bottom: 0;
    left: 0;
    padding: 75px 20px;
    padding-bottom: 20px;
    font-size: 14px;


}